- var title_start = "HBHS Debating - ";

mixin poi
   aside(class!="point-of-information "+attributes.class)
      br
      block

mixin nav-list
   ul
      li
         a(href="index.html") Home
      li
         a(href="what.html") What is it?
      li
         a(href="why.html") Why do it?
      li
         a(href="how.html") How to join
      li
         a(href="tips.html") Tips

mixin tool-tip(title)
   span.tool-tip(title=title)
      block

mixin image(src, width, height, title, href)
   - href = href || src
   a(href=href, title=title, class != attributes.class)
      img(src=src, width=width, height=height, alt=title)

doctype html
html(lang="en")
   head
      block title
         title Default title
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      meta(name="keywords", content="debating, hamilton, boys, high, school, competition, waikato")

      <!--[if IE]><link rel="shortcut icon" href="images/icons/favicon.ico"><![endif]-->
      link(rel="apple-touch-icon-precomposed" href="images/icons/apple-touch-precomposed.png")
      link(rel="icon" href="images/icons/favicon.png")

      link(rel="stylesheet" href="style.min.css")

      script(src="https://code.jquery.com/jquery-1.11.2.min.js")
      script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
      script(src="html5shiv.min.js")
      script(src="script.min.js")
   body
      #wrapper
         header
            h1 Debating
         nav
            +nav-list
         main
            block content
               h1 Default page heading
               p Default content
         footer
            p Made by Jacob Cheatley
            p Images gathered from school archives

//The final countdown, oops, I mean comment